[Desktop Entry]
Encoding=UTF-8
Name=Animated GIF
Name[x-test]=xxAnimatedGIFxx

Type=Service
ServiceTypes=Plasma/Wallpaper
Icon=preferences-desktop-wallpaper
X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Name=com.nerdyweekly.animated
X-KDE-PluginInfo-EnabledByDefault=true
